body {
    background-color: rgb(231, 231, 231);
}

.main {
    margin: 0;
}

.sort-block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.7%;
}

.sort {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: rgb(60, 60, 60);
}

.new-news {
    cursor: pointer;
}

.popular-news {
    cursor: pointer;
}

.newses {
    display: flex;
    flex-direction: row;
    height: 250px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(255, 241, 241);
    border-radius: 5px;
}

.text-block {
    flex-direction: column;
}

.news-block {
    display: flex;
    flex-direction: column;
}

.ne {
    flex-direction: column-reverse;
}

.news-img {
    height: 250px;
    width: 250px;
    border-radius: 3px;
}

.news-title {
    width: auto;
    font-size: 28px;
    margin-top: 1%;
}

.news-text {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
    font-size: 20px;
    margin-top: 4.5%;
    line-height: 32px;
    overflow: hidden;
}

.bock {
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: -0%;
    height: 250px;
}

.other {
    float: right;
    margin-top: 17%;
    padding-top: 8px;
    padding-right: 30px;
    text-decoration: none;
}