body {
    margin: 0%;
}

.footer-background {
    display: flex;
    height: 140px;
    background-color: #646464;
}

.logo {
    width: 140px;
    height: 140px;
    margin-left: 2%;
}

.shield {
    color: white;
    font-size: 16px;
    margin-left: 5%;
    margin-top: 8%;
}

.phone {
    color: white;
    margin-top: 4%;
    margin-left: 20%;
}

.mail {
    color: white;
    margin-top: 4%;
    margin-left: 3%;
}

.footer-img {
    width: 140px;
    height: 140px;
    margin-left: 10%;
}